


#title {
    margin: 5px;
    width: 70%;
}

textarea#styled {
    width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

#taskButtons {
    float: right;
    margin: 5px;
    bottom: 1%
}

#save, #cancel {
    margin: 5px;
}

#priority {
    margin: 5px;
}

#dateDiv {
    float: left;
}

#datePicker {
    float: left;
}